@model EbookPlatform.User
@{
    Layout = null;
}

<!-- User -->
<div class="user-box">
    <div class="user-img">
        <img src="/AdminPanel/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
        <div class="user-status offline"><i class="zmdi zmdi-plus"></i></div>
    </div>
    <h5><a href="#">@Model.UserName</a> </h5>
    <ul class="list-inline">
        <li>
            <a asp-action="logout" asp-controller="account">
                <i class="zmdi zmdi-settings"></i>
            </a>
        </li>

        <li>
            <a asp-area="" asp-action="logout" asp-controller="account" class="text-custom">
                <i class="zmdi zmdi-power"></i>
            </a>
        </li>
    </ul>
</div>
<!-- End User -->