@model EbookPlatform.Translator

@{
    ViewData["Title"] = "EditTranslator";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 mt-4 p-3">
    <div class="card-box">



        <form method="post" asp-area="Admin" asp-controller="Translators" asp-action="Edit" style="margin-top:5%;">
            <div class="form-group">
                <label>نام مترجم</label>
                <input type="text" class="form-control" name="translatorFullName" value="@Model.translatorFullName">
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>توضیحات</label>
                <input type="text" class="form-control" name="description" value="@Model.description">
                <span class="text-danger"></span>
            </div>

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

