        <!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        @await Component.InvokeAsync("ShowUserAdminPanelViewComponent");
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-action="index" asp-controller="AdminDashbord" class="waves-effect"><i class="zmdi zmdi-home"></i> <span>خانه</span> </a>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> مدیریت محتوا </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-action="index" asp-controller="authors">نویسندگان</a></li>
                        <li><a asp-action="index" asp-controller="publishers">ناشران</a></li>
                        <li><a asp-action="index" asp-controller="translators">مترجمان</a></li>
                        <li><a asp-action="index" asp-controller="language">زبان ها</a></li>
                        <li><a asp-action="ShowAllBooks" asp-controller="books">کتاب ها</a></li>
                        <li><a asp-action="ShowAllCategory" asp-controller="Category">دسته بندی ها</a></li>
                        <li><a href="Setting.html">تنظیمات </a></li>
                    </ul>
                </li>



                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> کاربران </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-action="index" asp-controller="authors">مدیریت تمام کاربران</a></li>
                        <li><a asp-action="index" asp-controller="publishers">سطوح دسترسی</a></li>
                       <li><a href="Setting.html">تنظیمات </a></li>
                    </ul>
                </li>






                </ul>
                <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
<!-- Left Sidebar End -->